<div class="contact-details">
  <h3>Mobile: 0419 526 208</h3>
  <h3>Email: grmarks@gmail.com</h3>
</div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle1', klass: 'heading1', heading: 'Professional Summary' %>
  <div class="togbod">
    <p>
      IT professional with over 25 years of experience in IBM I (OS/400). Provide programming solutions to various
      heterogeneous networks with IBM i as the central hub. Experience in RPG programming and SQL with exposure to PHP
      and C languages, UNIX and Windows operating systems. Extensive practical knowledge of the RPG language both
      fixed format and free format as well as the “Old Programming Model” (OPM) and the
      “Integrated Language Environment” (ILE) methodologies, also CL programming. Solid experience in DDS and DDL
      database definition languages, SDA, “Rational Developer for i” and IBM i operating system.
    </p>
    <p>
      I also have some experience with TCP/IP networks and
      CISCO routers, and IBM I operations, giving me a good all round knowledge of IBM I and how it interacts with the
      world. A good team player, willing to share my business and technical “know how” with others.
    </p>
    <p>
      I have been studying Ruby and Rails after taking a “step back and viewing the landscape” I see the IBM I is an
      ageing platform and is diminishing in popularity with time. I feel the better career path forward is with
      Ruby/Rails and web development. Ruby seems to have “come of age” now having finally moved past version 1.8 to
      the the current 2.4, and is heading in the right direction with version 3.0. I have read several books on Ruby,
      Rails, HTML, CSS and java script. I have done some online tutorials in rails as well. I am very open the the
      different way web applications are designed but can also bring a fresh set of ideas to throw into the mix if
      the usual web solution strategies don’t fit a new cutting edge idea.
    </p>
  </div>
</div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle2', klass: 'heading1', heading: 'Career History and Achievements' %>
  <div class="togbod">
    <ul class="no-dot">
      <li>
          <%= render 'layouts/expand_header', id: 'toggle3', klass: 'heading2', heading: 'Non IT work' %>
          <%= render 'layouts/date', date: 'September 2013 - Present' %>
        <div class="togbod">
          <p>
            I have had a break from IT after about 25 years on IBM I, and now looking to get into WEB development. I
            have been doing self study of Ruby, Rails and relevant web languages.
          </p>
        </div>
      </li>
      <li>
        <%= render 'layouts/expand_header', id: 'toggle4', klass: 'heading2',
                   heading: 'Pacific Brands Services Group' %>
        <%= render 'layouts/date', date: 'November 2001 - September 2013' %>
        <div class="togbod">
          <p>Senior Analyst/Programmer</p>
          <p>
            Pacific Brands is a publicly listed company with head office in Melbourne and offices in Sydney, NZ, UK and
            China and warehouses in each state of Australia, NZ, UK and Dubai, employing several thousand staff and
            divided into 5 main companies trading under about 20 company names. Originally the 20 companies operated on
            various systems and software, but were all brought onto the IBM i and the ERP software package. This was
            originally the ACS ERP system but with years of modification to suit Pacific Brands.
          </p>
          <ul><h3>Achievements include:</h3>
            <li>
              Successfully developed conversion programs to migrate 7 Pacific Brands companies to the IBM i. This was a
              major portion of my time at Pacific brands, with some migrations taking up to a year to complete due to
              enhancements to the existing IBM I ERP software (known as BOB) to support specific company needs. I
              reduced run time on these conversions from a maximun of 12 hours down to just 1 hour by optimising code
              and algorithms
            </li>
            <li>
              Successfully developed an ROA (Rational Open Access) generic IFS CSV file reader for use in conversion
              programs and general applications.
            </li>
            <li>
              Successfully developed an automated system to place orders on an external worldwide printing company for
              box carton labels that would be dispatched from the companies’ branches to our manufacturers in diverse
              locations within Asia.
              <ul>
                <li>
                  The system interrogated the manufacturing files and sent requests for the specific number of labels
                  required to all manufacturing sites. It took into account quantity increases and additional products
                  added to existing orders, detected failed uploads and re-sent on next run, as well as, be run on an
                  add-hock basis and catered for manual re-sends. It used SFTP to communicate the data. It kept a full
                  history of what was sent and when.
                </li>
              </ul>
            </li>
            <li>
              Instrumental in rationalising company-specific versions of the same programs into one base version by
              introducing a “switch file” and a service program (with procedure) to retrieve a true/false value. E.g.
              if the procedure returned True the following code was to be executed for this company.
            </li>
            <li>
              Presented the case to Business Analysts and peers to adopt “switch file” as a rule – all new programs
              were to be a base version utilising this switching technique as well as applying any modifications to the
              base version and consolidating any existing company specific versions into the base version. Once
              completed this reduced time spent on modifications dramatically.
            </li>
            <li>
              Steered the programming group into to most current programming techniques, tools, enhancements of the
              language and standards as a member of the Technical Team. This included coding in free format and using
              ILE service programs where possible.
            </li>
            <li>
              Down loaded, installed and evaluated Profound Logic’s ProfoundUI GUI development environment for IBM i by
              writing some test applications using this tool along with converting existing applications using the tools
              conversion option.
            </li>
            <li>
              Provided extensive technical support to programmers on aspects of RPG, ILE and communicating with other
              systems (UNIX, WINDOWS).
            </li>
            <li>
              Reduced the run time of conversions from 12 hours down to 1 hour using various techniques. The largest
              companies were migrated last, the largest order pool converted was 20,000,000 records. This necessitated
              the performance improvements.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <%= render 'layouts/expand_header', id: 'toggle5', klass: 'heading2',
                   heading: 'Peter Stevens Motor Cycles, Melbourne' %>
        <%= render 'layouts/date', date: 'November 1998 - November 2001' %>
        <div class="togbod">
          <p>Analyst/Programmer</p>
          <p>
            Peter Stevens Motor Cycles Pty Ltd is a privately owned company selling and servicing motor cycles through
            a retail network in Victoria and South Australia. Its computer systems also supported another company,
            MONZA IMPORTS. Peter Stevens sources all its accessories from Monza Imports, and imports motor cycles
            itself.
          </p>
          <ul><h3>Achievements include:</h3>
            <li>
              Implemented and maintained/supported a TCP/IP PC network using CISCO routers which included the AS/400 as
              one of the central servers.
            </li>
            <li>
              Implemented the externalisation of key RPG II files to OS/400 external files allowing query and SQL tools
              to be used on the files.
            </li>
            <li>
              Improved background processes to run more efficiently on OS/400.
            </li>
            <li>
              Implemented a system to extract orders from OS/400 and download to PC for use with the Harley-Davidson
              dealer web page (h-dnet) for re-ordering.
            </li>
            <li>
              Implemented a warranty registration entry system on AS/400 for Harley-Davidson motorcycles that flowed to
              the h-dnet web page for warranty registration.
            </li>
            <li>
              Implemented a warranty claim entry system on AS/400 for Harley-Davidson motorcycles that flowed to the
              h-dnet web page for warranty clams.
            </li>
            <li>
              Fixed and enhanced various in house systems and reports.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <%= render 'layouts/expand_header', id: 'toggle6', klass: 'heading2', heading: 'Divergent Technologies' %>
        <%= render 'layouts/date', date: 'December 1997 - November 1998' %>
        <div class="togbod">
          <p>Senior Applications Consultant</p>
          <p>
            Divergent Technologies is a software company dealing mainly in retail “point of sales” and “back office”
            software. They acquired the GABS package, which is an apparel system, to expand their portfolio of software
            offerings to business. I was the sole developer for AS/400 GABS package.
          </p>
          <ul><h3>Achievements include:</h3>
            <li>
              Developed and tailored RPG400 software for existing clients of the GABS package.
            </li>
            <li>
              Implemented Y2K compliance on RPG400 applications.
            </li>
            <li>
              Installation of AS/400’s hardware including set-up and configuration of OS/400.
            </li>
            <li>
              Installation of Windows NT on PC’s.
            </li>
            <li>
              Implemented TCP/IP networks.
            </li>
            <li>
              Implemented an AS/400 EDI system interface to PC.
            </li>
            <li>
              On-going development, support and enhancements of a client bar coding application system using RPG400.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <%= render 'layouts/expand_header', id: 'toggle7', klass: 'heading2',
                   heading: 'JBA Systems Pty Ltd (Australia)' %>
        <%= render 'layouts/date', date: 'March 1995 - November 1997' %>
        <div class="togbod">
          <p>Consultant</p>
          <p>
            JBA (formerly H.B. & A Systems) is a UK based company with a branch office in Melbourne. It sells the S21
            AS/400 package which comes in several variations. It is an ERP system with variations for parts or apparel
            processing.
          </p>
          <ul><h3>Achievements include:</h3>
            <li>
              Implemented an Ethernet network (3 PC’s and an AS/400).
            <li>
              Supported the “Concert” package in RPG400.
            </li>
            <li>
              Implemented performance improvements to a client’s batch processing system and decreased back-up exposure.
            </li>
            <li>
              Configured PC Support over a Lantastic Ethernet LAN through a bridge PC to AS/400
            </li>
            <li>
              Developed a stocktake report in RPG400.
            </li>
          </ul>
        </div>
      </li>
      <li>
        <%= render 'layouts/expand_header', id: 'toggle8', klass: 'heading2',
                   heading: 'Previous RPG development experience' %>
        <%= render 'layouts/date', date: 'Prior to March 1995' %>
        <div class="togbod">
          <ul>
            <li>
              Stafford from May 1992 – March 1995
            <li>
              ABSolutions Pty Ltd from October 1989 – May 1992
            </li>
            <li>
              Williams The Shoeman from November 1988 – October 1989
            </li>
            <li>
              Best Foods Ltd from October 1987 – November 1988
            </li>
            <li>
              Figgins Holdings Pty Ltd from November 1985 – June 1987.
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle9', klass: 'heading1', heading: 'Specific Technical Expertise' %>
  <div class="togbod">
    <ul>
      <li class="across">
        <div class="line">
          <ul><h4>Language</h4>
            <li>
              Ruby
            </li>
            <li>
              Ruby on Rails
            </li>
            <li>
              HTML5
            </li>
            <li>
              CSS3
            </li>
            <li>
              Java Script
            </li>
            <li>
              SQL
            </li>
            <li>
              RPGLE, CLLE, RPG400, RPG, CLP
            </li>
            <li>
              C
            </li>
            <li>
              some PHP
            </li>
            <li>
              Basic
            </li>
          </ul>
        </div>
      </li>
      <li class="across">
        <div class="line">
          <ul><h4>Hardware/OS</h4>
            <li>
              OSX (Macbook Pro)
            </li>
            <li>
              Some Linux (Ubuntu, Mint)
            </li>
            <li>
              IBM I, AS/400, S38
            </li>
            <li>
              some CISCO Routers
            </li>
            <li>
              D-Link Hubs
            </li>
            <li>
              Windows 10, 7, XP, 2000, NT
            </li>
            <li>
              DOS
            </li>
          </ul>
        </div>
      </li>
      <li class="across">
        <div class="line">
          <ul><h4>Software/Tools</h4>
            <li>
              RubyMine
            </li>
            <li>
              ACS, S21, ABS
            </li>
            <li>
              Implementer
            </li>
            <li>
              Rational Developer for I
            </li>
            <li>
              MS Word, Excel
            </li>
          </ul>
        </div>
      </li>
      <li class="across">
        <div class="line">
          <ul><h4>Network</h4>
            <li>
              DHCP, DNS
            </li>
            <li>
              FTP, SFTP
            </li>
            <li>
              LAN/WAN
            </li>
            <li>
              TCP/IP, Ethernet
            </li>
          </ul>
        </div>
      </li>
      <li class="across">
        <ul><h4>Database</h4>
          <li>
            MYSQL
          </li>
          <li>
            PostgreSQL
          </li>
          <li>
            DB2 (extensive knowledge)
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle10', klass: 'heading1', heading: 'Professional Training' %>
  <div class="togbod">
    <ul>
      <li>
        Level III certificate in warehouse operations
      </li>
      <li>
        4 day Business Analysis course from IRM Training
      </li>
      <li>
        IBM SQL course for the IBM i
      </li>
      <li>
        IBM java course for the AS/400
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle11', klass: 'heading1', heading: 'Ruby Repos' %>
  <div class="togbod">
    <ul>
      <li>
        <a href="https://github.com/isnology/hangman">Simple Hangman Game</a>.
      </li>
      <li>
        <a href="https://github.com/isnology/robot">Simple Robot App Challenge</a>.
      </li>
      <li>
        <a href="https://bitbucket.org/isnology/resume/src">This Resume App repo</a>.
      </li>
      <li>
        <a href="https://bitbucket.org/isnology/sample_app/src">The Rails Tutorial</a> Repo  and the app on
        <a href="https://intense-inlet-73806.herokuapp.com/">heroku</a>.
      </li>
      <li>
        A <a href="https://bitbucket.org/isnology/accounts-react-tutorial/src">React Tutorial</a> Repo and the app on
        <a href="https://secure-retreat-92314.herokuapp.com/">heroku</a>.
      </li>
      <li>
        A <a href="https://bitbucket.org/isnology/grape-app/src">Grape Tutorial</a> Repo.
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <%= render 'layouts/expand_header', id: 'toggle12', klass: 'heading1', heading: 'RPGLE Source Code Samples' %>
  <div class="togbod">
    <p>
      The IBM I is a very different programming environment to web development. Most of the terms and technical aspects
      will mean nothing to a non IBM I developer, but are given here as an example of my coding.
    </p>
    <p>
      The RPG language comes in 2 flavours:- the older RPG and the newer RPGLE. The "LE" on the end of RPG is
      short for "ILE" and stands for "Intergrated Language Environment", meaning that modules can be written in
      languages like C, Cobol, RPGLE or many others and they all pass parameters in a compatible way so that, say, an
      RPGLE can call a C module. In this intergrated environment there are static modues (like in C) and service
      programs (like a DLL in windows). Service programs are dynamicly linked at run time where as modules are linked
      in at compile time. I have not included the file definitions or external copy members (similar to header files
      in C).
    </p>
    <ul>
      <li>
        <%= link_to 'Toolbox', textfile_path(textfile: 'toolbox.src') %> is a service program of procedures to add
        link lists, hashes, stacks, queues, and large arrays to the RPGLE language.
      </li>
      <li>
        <%= link_to 'Scan', textfile_path(textfile: 'scan.src') %> is the front end program to the "scansrv" service
        program (below). It takes input from the screen as a comand. E.g. "(findstr('ABC') and findstr('XYZ)) or
        (findstr('EFG') not findstr('XYZ'))" along with many other functions.
      </li>
      <li>
        <%= link_to 'Scansrv', textfile_path(textfile: 'scansrv.src') %> is the service program that pasres and
        processes the output from program 'Scan' (above).
      </li>
      <li>
        <%= link_to 'Svpgmctl', textfile_path(textfile: 'svpgmctl.src') %> is a service program that is a framework to
        handle the display of a single screen, it can be recurseivly called to handle screens within screen in a
        stack like fashion. It provides the logic to handle 'subfile processing' and help screens for each field on
        the screen or the entire screen as a single entity (general overview of the screen).
      </li>
    </ul>
  </div>
</div>