body {
  background: #abacbc; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient(90deg, #abacbc, #c3c4cc); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(90deg, #abacbc, #c3c4cc); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(90deg, #abacbc, #c3c4cc); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(90deg, #abacbc, #c3c4cc); /* Standard syntax */
  //background: image-url('wood.jpeg');
  //background-attachment: fixed;
}

.body {
  background: white image-url('laptop_on_desk.jpeg') no-repeat top right;
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  border-left: 1px solid lightblue;
  border-right: 1px solid lightblue;
  box-shadow: .5em .5em .5em #000000;


  .header {
    background-color: lightblue;
    font-size: 300%;
    font-weight: 900;
    text-align: center;
  }

  .footer {
    background-color: lightblue;
  }

  /* expanding text */

  [id^="toggle"],                        /* HIDE CHECKBOX */
  [id^="toggle"] ~ .togbod,                /* HIDE LIST */
  [id^="toggle"] + label  span + span,   /* HIDE "Collapse" */
  [id^="toggle"]:checked + label span {   /* HIDE "Expand" (IF CHECKED) */
    display:none;
  }

  [id^="toggle"]:checked + label span + span {
    display:inline-block;                 /* SHOW "Collapse" (IF CHECKED) */
  }

  [id^="toggle"]:checked ~ .togbod {
    display:block;                        /* SHOW LIST (IF CHECKED) */
    padding-left: 1em;
  }

  label span img {
    height: 15;
    width: 15;
    padding-left: 5px;
  }

  .heading1 {
    font-size: 150%;
    font-weight: 900;
  }

  .heading2 {
    font-size: 110%;
    font-weight: 900;
  }

  .togbod {
    background: rgba(255, 255, 255, 0.8);
  }

  pre {
    background: rgba(255, 255, 255, 0.8);
  }

  .contact-details {
    text-align: center;
  }

  .time-frame {
    float: right;
    clear: both;
    padding-right: 5px;
  }

  ul li {
    padding-bottom: 1em;
  }

  .row {
    padding-bottom: 1em;
  }

  .no-dot > li {
    list-style-type: none;
    margin-left: -2.5em;
    padding-bottom: 1em;
  }

  ul {
    .across {
      list-style-type: none;
      width: 20%;
      float: left;
      background: rgba(255, 255, 255, 0.8);
      h4 {
        margin-left: -1em;
      }
      .line {
        border-right: 1px solid lightgray;
        padding-right: 1em;
      }
    }
  }

  .clear {
    clear: both;
  }

}


