<input id="<%= id %>" type="checkbox">
<label class="<%= klass %>" for="<%= id %>">
  <span><%= image_tag("plus.png", alt: "Expand") %></span>
  <span><%= image_tag("minus.png", alt: "Collapse") %></span>
  <%= heading %>
</label>
